# Email config
MAIL_NAME=Wizzl
MAIL_FROM=email@host.com
SMTP_HOST=smtp.mailersend.net
SMTP_PORT=587
SMTP_USER=email@host.com
SMTP_PASS=password

# Socials
GITHUB_URL=https://github.com/wizzldev
DISCORD_URL=https://discord.com
INSTAGRAM_URL=https://instagram.com
KOFI_URL=https://ko-fi.com
APP_URL=https://wizzl.app
APP_LOGO_URL=https://wizzl.app/static/email.png

# Test mode
TEST_MODE=true
# If test mode is true, it will print the messages to the
# console without sending the email via the provider.
